{{ form_start(cpForm) }}
{{ form_errors(cpForm) }}
{{ form_row(cpForm.old_password) }}
{{ form_row(cpForm.new_password) }}
<button class="btn btn-primary">Changer de mot de passe</button>
{{ form_end(cpForm) }}
