{% extends '@NetBSCore/layout/base.layout.twig' %}

{% block body %}

    {{ registerCss(asset('bundles/netbscore/css/quickfix.css')) }}
    {{ registerCss('https://unpkg.com/nprogress@0.2.0/nprogress.css') }}
    {{ registerJs('https://unpkg.com/nprogress@0.2.0/nprogress.js') }}

    <div class="app">

        <!-- Sidebar -->
        {{ render(controller('NetBS\\CoreBundle\\Controller\\MenuController::renderMainMenuAction')) }}
        <!-- END Sidebar -->

        <div class="main">

            <!-- Header -->
            {% include '@NetBSCore/partial/header.partial.twig' %}
            <!-- END Header -->

            <!-- Main Container -->
            <div class="main-content">
                {% block main %}{% endblock %}
            </div>
            <!-- END Main Container -->

        </div>
    </div>

    {{ registerJs(asset('bundles/netbscore/js/menu.js')) }}
    {{ registerJs(asset('bundles/netbscore/js/mobile.js')) }}

    {{ registerCss(asset('bundles/netbscore/lib/toastr/toastr.min.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/toastr/toastr.min.js')) }}

    {% include 'partial/_toasts.html.twig' %}

    {% set _ajax_loader_script %}
    <script>
        $(document).bind("ajaxSend", function(){
            NProgress.start();
        }).bind("ajaxComplete", function(){
            NProgress.done();
        });
    </script>
    {% endset %}

    {{ registerScript(_ajax_loader_script) }}

    {% include '@NetBSCore/helper/init.javascript.twig' %}

    {% set _tooltip_init %}
    <script>$(function(){ $('[data-bs-toggle="tooltip"]').tooltip({html:true, trigger:'hover', container:'body'}); });</script>
    {% endset %}
    {{ registerScript(_tooltip_init) }}
{% endblock %}
