{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Modifier le destinataire{% endblock %}

{% block content %}
    <div data-controller="mailing">
        {{ form_start(form) }}
        {{ form_row(form.type, {
            attr: {
                'data-mailing-target': 'typeSelect',
                'data-action': 'change->mailing#updateTargetFields'
            }
        }) }}
        <div data-mailing-target="field" data-field-type="email">
            {{ form_row(form.targetEmail) }}
        </div>
        <div data-mailing-target="field" data-field-type="user" style="display:none">
            {{ form_row(form.targetUser) }}
        </div>
        <div data-mailing-target="field" data-field-type="unite" style="display:none">
            {{ form_row(form.targetGroup) }}
        </div>
        <div data-mailing-target="field" data-field-type="role" style="display:none">
            {{ form_row(form.targetFonction) }}
        </div>
        <div data-mailing-target="field" data-field-type="list" style="display:none">
            {{ form_row(form.targetList) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
