{% set tableId = event.tableId %}

<div class="btn-group dropdown dropup"
     data-controller="dynamic-list"
     data-dynamic-list-add-url-value="{{ path('netbs.core.dynamics_list.items_add') }}"
     data-dynamic-list-create-url-value="{{ path('netbs.core.dynamic_list.modal_add') }}"
     data-dynamic-list-items-class-value="{{ event.table.itemClass|toBase64 }}"
     data-dynamic-list-ids-source-value="{{ tableId }}">

    <button type="button" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">
        Ajouter la sélection à une liste
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <div role="menu" class="dropdown-menu">
        {% for list in lists %}
            <a class="dropdown-item" href="#"
               data-action="click->dynamic-list#addToList"
               data-list-id="{{ list.id }}">{{ list.name }}</a>
        {% endfor %}

        {% if lists|length > 0 %}
            <div class="dropdown-divider"></div>
        {% endif %}
        <a class="dropdown-item" href="#"
           data-action="click->dynamic-list#createList">Nouvelle liste</a>
    </div>
</div>
