
<div class="btn-group dropdown dropup">

    <button type="button" data-bs-toggle="dropdown" class="btn btn-secondary dropdown-toggle">
        Exporter
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <div role="menu" class="dropdown-menu">
        {% for extension, exporters in extensions %}
            {% if not loop.first %}
                <div class="dropdown-divider"></div>
            {% endif %}
            <div class="dropdown-header">{{ extension }}</div>
            {% for exporter in exporters %}
                <a class="dropdown-item" style="cursor:pointer;"
                   data-controller="post-link"
                   data-post-link-url-value="{{ path('netbs.core.export.export_selected') }}"
                   data-post-link-ids-source-value="{{ tableId }}"
                   data-post-link-extra-data-value='{{ {"itemsClass": table.itemClass|toBase64}|json_encode }}'
                   data-action="click->post-link#submit"
                   data-exporter="{{ exporter.alias }}">{{ exporter.name }}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
