
<div class="btn-group dropup">

    <button type="button" data-bs-toggle="dropdown" class="btn btn-secondary dropdown-toggle">
        Action de masse
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <div role="menu" class="dropdown-menu dropdown-menu-right">
        {% if updatable %}
            <a class="dropdown-item" style="cursor:pointer;"
               data-controller="post-link"
               data-post-link-url-value="{{ path('netbs.core.mass_updater.data_update') }}"
               data-post-link-ids-source-value="{{ event.tableId }}"
               data-post-link-id-field-value="updatedIds"
               data-post-link-extra-data-value='{{ {"updatedClass": event.table.itemClass|toBase64}|json_encode }}'
               data-action="click->post-link#submit">{{ updatable.title }}</a>
        {% endif %}
        {% if updatable and addable %}
        <div class="dropdown-divider"></div>
        {% endif %}
        {% if addable %}
            <a style="cursor:pointer;" class="dropdown-item"
               data-controller="post-link"
               data-post-link-url-value="{{ path('netbs.fichier.mass.add') }}"
               data-post-link-ids-source-value="{{ event.tableId }}"
               data-post-link-id-field-value="ownerIds"
               data-post-link-extra-data-value='{{ {"ownerClass": event.table.itemClass|toBase64}|json_encode }}'
               data-action="click->post-link#submit"
               data-item="attribution">Ajouter des attributions</a>
            <a style="cursor:pointer;" class="dropdown-item"
               data-controller="post-link"
               data-post-link-url-value="{{ path('netbs.fichier.mass.add') }}"
               data-post-link-ids-source-value="{{ event.tableId }}"
               data-post-link-id-field-value="ownerIds"
               data-post-link-extra-data-value='{{ {"ownerClass": event.table.itemClass|toBase64}|json_encode }}'
               data-action="click->post-link#submit"
               data-item="distinction">Ajouter des distinctions</a>
        {% endif %}
    </div>

</div>
