{% if assignModel or markPrint %}
<div class="btn-group dropup"
     data-controller="facturation-toolbar"
     data-facturation-toolbar-resolve-model-url-value="{{ path('ovesco.facturation.facture.resolve_model', {id: '__ID__'}) }}"
     data-facturation-toolbar-mark-printed-url-value="{{ path('ovesco.facturation.facture.mark_printed') }}"
     data-facturation-toolbar-unmark-printed-url-value="{{ path('ovesco.facturation.facture.unmark_printed') }}"
     data-facturation-toolbar-table-id-value="{{ tableId }}">
    <button type="button" data-bs-toggle="dropdown" class="btn btn-secondary ms-1 dropdown-toggle">
        Actions de masse
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <div role="menu" class="dropdown-menu dropdown-menu-right">
        {% if assignModel %}<a class="dropdown-item" style="cursor:pointer;"
           data-controller="modal"
           data-modal-url-value="{{ path('ovesco.facturation.facture.assign_model_modal') }}"
           data-modal-ids-source-value="{{ tableId }}"
           data-action="click->modal#open">Assigner un modèle de facture</a>{% endif %}
        {% if markPrint %}
        <a class="dropdown-item" style="cursor:pointer;" data-action="click->facturation-toolbar#markPrinted">Marquer comme imprimé</a>
        <a class="dropdown-item" style="cursor:pointer;" data-action="click->facturation-toolbar#unmarkPrinted">Marquer comme non-imprimé</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="btn-group dropup">
    <button type="button" data-bs-toggle="dropdown" class="btn btn-secondary ms-1 dropdown-toggle">
        Facturation
        <span class="icon-dropdown mdi mdi-chevron-down"></span>
    </button>

    <div role="menu" class="dropdown-menu dropdown-menu-right">
        {% if addCreances %}<a class="dropdown-item" style="cursor:pointer;"
           data-controller="modal"
           data-modal-url-value="{{ path('ovesco.facturation.creance.modal_add_many') }}"
           data-modal-params-value='{{ {"itemsClass": table.itemClass|toBase64}|json_encode }}'
           data-modal-ids-source-value="{{ tableId }}"
           data-action="click->modal#open">Ajouter des créances</a>{% endif %}
        {% if addRappels %}<a class="dropdown-item" style="cursor:pointer;"
           data-controller="modal"
           data-modal-url-value="{{ path('ovesco.facturation.rappel.add_modal') }}"
           data-modal-params-value='{{ {"itemsClass": table.itemClass|toBase64}|json_encode }}'
           data-modal-ids-source-value="{{ tableId }}"
           data-action="click->modal#open">Ajouter des rappels</a>{% endif %}
        {% if generate %}<a class="dropdown-item" style="cursor:pointer;"
           data-controller="modal"
           data-modal-url-value="{{ path('ovesco.facturation.creance.merge') }}"
           data-modal-ids-source-value="{{ tableId }}"
           data-modal-id-field-value="creanceIds"
           data-action="click->modal#open">Fusionner en facture</a>
        <a class="dropdown-item" style="cursor:pointer;"
           data-controller="post-link"
           data-post-link-url-value="{{ path('ovesco.facturation.creance.check_merge') }}"
           data-post-link-ids-source-value="{{ tableId }}"
           data-post-link-id-field-value="creanceIds"
           data-action="click->post-link#submit">Prévisualiser la fusion</a>{% endif %}
    </div>
</div>
