{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set title = 'Nouveau membre' %}

{% block main %}

    <div class="container-fluid"
         data-controller="family-search"
         data-family-search-search-url-value="{{ path('sauvabelin.famille.search') }}">

        <div class="page-head">
            <h2>Nouveau membre</h2>
            <h4>Ajouter un membre basé sur une circulaire</h4>
        </div>
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Informations de base</h5>
                    </div>

                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12 col-md-6">{{ form_row(form.nom, {attr: {"data-family-search-target": "nom", "data-action": "input->family-search#onNomInput", "autocomplete": "off"}}) }}</div>
                            <div class="col-12 col-md-6">{{ form_row(form.prenom) }}</div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">{{ form_row(form.sexe) }}</div>
                            <div class="col-12 col-md-6">{{ form_row(form.naissance) }}</div>
                            <div class="col-12 col-md-3">{{ form_row(form.numeroAvs) }}</div>
                        </div>

                        <div class="row" data-show-without-family>
                            <div class="col-md-7">{{ form_row(form.adresse) }}</div>
                            <div class="col-md-5">{{ form_row(form.email) }}</div>
                        </div>

                        <div class="row" data-show-without-family>
                            <div class="col-md-2">{{ form_row(form.npa) }}</div>
                            <div class="col-md-4">{{ form_row(form.localite) }}</div>
                            <div class="col-md-3">{{ form_row(form.pays) }}</div>
                            <div class="col-md-3">{{ form_row(form.telephone) }}</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.natel) }}</div>
                            <div class="col-md-3">{{ form_row(form.numero) }}</div>
                            <div class="col-md-3">{{ form_row(form.inscription) }}</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.groupe) }}</div>
                            <div class="col-md-6">{{ form_row(form.fonction) }}</div>
                        </div>

                        <div class="row" data-show-without-family>
                            <div class="col-md-6">
                                {{ form_row(form.r1statut) }}
                                {{ form_row(form.r1sexe) }}
                                {{ form_row(form.r1nom) }}
                                {{ form_row(form.r1prenom) }}
                                {{ form_row(form.r1adresse) }}
                                {{ form_row(form.r1npa) }}
                                {{ form_row(form.r1localite) }}
                                {{ form_row(form.r1pays) }}
                                {{ form_row(form.r1telephone) }}
                                {{ form_row(form.r1email) }}
                                {{ form_row(form.r1profession) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(form.r2statut) }}
                                {{ form_row(form.r2sexe) }}
                                {{ form_row(form.r2nom) }}
                                {{ form_row(form.r2prenom) }}
                                {{ form_row(form.r2adresse) }}
                                {{ form_row(form.r2npa) }}
                                {{ form_row(form.r2localite) }}
                                {{ form_row(form.r2pays) }}
                                {{ form_row(form.r2telephone) }}
                                {{ form_row(form.r2email) }}
                                {{ form_row(form.r2profession) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Valider</button>

                        {{ form_row(form.familleId, {attr: {"data-family-search-target": "familleId"}}) }}
                        {{ form_end(form) }}
                    </div>


                </div>

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Famille</h5>
                        <h6 class="card-subtitle">Ajouter ce nouveau membre à une famille existante</h6>
                    </div>
                    <div class="card-body">
                        <div class="list-group" data-family-search-target="results"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
