
{% use "bootstrap_4_layout.html.twig" %}

{%- block widget_attributes -%}
    {% set class = attr.class is defined ? attr.class ~ ' input-sm' : 'input-sm' %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block switch_row %}
    <div class="form-group">
        {{ block('form_label') }}
        {{ block('switch_widget') }}
    </div>
{% endblock %}

{% block switch_label %}
    {{ block('form_label') }}
{% endblock %}

{% block switch_widget %}
    {{ registerCss(asset('bundles/netbscore/css/switchery.css')) }}
    <div>
        <label class="bs-switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />            <span class="slider round"></span>
        </label>
    </div>

{% endblock %}

{% block mask_widget %}
    {{ registerJs(asset('bundles/netbscore/js/jquery.inputmask.min.js')) }}
    {% set maskJs %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(":input").inputmask();
        });
    </script>
    {% endset %}
    {{ registerScript(maskJs) }}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block quill_widget %}

    {{ registerCss(asset('bundles/netbscore/lib/quill/quill.snow.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/quill/quill.min.js')) }}
    {% set quillJs %}
    <script type="text/javascript">
        new Quill('#{{ form.vars.id }}', {
            theme: 'snow',
            debug: 'info'
        });
    </script>
    {% endset %}

    {{ registerScript(quillJs) }}

    {{ block('textarea_widget') }}

{% endblock %}

{% block trumbowyg_widget %}

    {{ registerCss(asset('bundles/netbscore/lib/jquery/jquery.min.js')) }}
    {{ registerCss(asset('bundles/netbscore/lib/trumbowyg/ui/trumbowyg.min.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/trumbowyg/trumbowyg.min.js')) }}

    {% set script %}
        <script type="text/javascript">
            $('#{{ form.vars.id }}').trumbowyg({
                btns: [['bold', 'italic'], ['link'], ['viewHTML']]
            });
        </script>
    {% endset %}

    {{ registerScript(script) }}

    {{ block('textarea_widget') }}

{% endblock %}


{# select 2 stuff #}
{% block ajax_select2_document_widget %}

    {% set dataCheck = [] %}
    {% if form.vars.multiple %}
        {% for item in form.vars.data %}
            {% set dataCheck = dataCheck|merge([item.id]) %}
        {% endfor %}
    {% elseif  form.vars.data %}
        {% set dataCheck = [form.vars.data.id] %}
    {% endif %}

    <select style="width:100%;" {{ block('widget_attributes') }} {% if form.vars.multiple %}multiple="multiple"{% endif %}>
        {% for option in form.vars.base_choices %}
            <option {% if option.value in dataCheck %}selected{% endif %} value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>

    {{ registerCss(asset('bundles/netbscore/lib/select2/css/select2.min.css')) }}
    {{ registerCss(asset('bundles/netbscore/lib/select2/css/select2.bs4.min.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/select2/js/select2.full.min.js')) }}
    {% include '@NetBSCore/javascript/select2_init.script.twig' %}


    {% set attr = attr|merge({style: "min-width:200px;width:100%;"}) %}


{% endblock %}

{% block select2_document_widget %}
    {{ block('select2_widget') }}
{% endblock %}

{% block select2_widget %}

    {% include '@NetBSCore/javascript/select2_init.script.twig' %}
    {{ block('select2') }}
{% endblock %}

{% block select2 %}

    {{ registerCss(asset('bundles/netbscore/lib/select2/css/select2.min.css')) }}
    {{ registerCss(asset('bundles/netbscore/lib/select2/css/select2.bs4.min.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/select2/js/select2.full.min.js')) }}

    {% set attr = attr|merge({style: "min-width:200px;width:100%;"}) %}

    <div>
        {{ block('choice_widget') }}
    </div>
{% endblock %}

{# datepicker #}
{% block datepicker_widget %}

    {{ registerCss(asset('bundles/netbscore/lib/datetimepicker/bootstrap-datetimepicker.min.css')) }}
    {{ registerJs(asset('bundles/netbscore/lib/datetimepicker/bootstrap-datetimepicker.min.js')) }}
    {% include '@NetBSCore/javascript/datepicker_init.script.twig' %}

    {{ block('form_widget_simple') }}
{% endblock %}


{# daterange #}
{% block daterange_widget %}
    <div>
        <div class="input-daterange input-group d-flex align-items-center" data-date-format="dd.mm.yyyy">
            <div class="flex-grow-1">
                {{ form_row(form.biggerThan) }}
            </div>
            <span class="input-group-addon ml-3 mr-3"><i class="fas fa-chevron-right"></i></span>
            <div class="flex-grow-1">
                {{ form_row(form.lowerThan) }}
            </div>
        </div>
    </div>
{% endblock %}
