{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% block title %}Accepter la réservation{% endblock %}

{% block main %}

    <div class="container">
        {% include '@NetBSCore/includes/header.include.twig' with {
            header: 'Accepter la réservation',
        } %}

        <div class="row">
          <div class="col-md-5 col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Informations</h3>
              </div>
              <div class="card-body">
                {% include 'reservation/reservation_description_part.html.twig' %}
              </div>
            </div>
          </div>
          <div class="col-md-7 col-12">            
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Ajouter un message à l'email</h3>
              </div>
              <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.message) }}
                <button type="submit" class="btn btn-success">Approuver la réservation</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
    </div>


{% endblock %}