{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% form_theme reservationForm '@NetBSCore/form/xeditable.theme.twig' %}

{% set title %}Réservation N° {{ reservation.id }}{% endset %}

{% block main %}

    {{ registerJs(asset('bundles/netbscore/js/modal.js')) }}
    {{ registerJs('https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js') }}

    <div class="container-fluid">
        {% include '@NetBSCore/includes/header.include.twig' with {
            header: "Réservation N° " ~ reservation.id,
            subHeader: '',
        } %}

        <div class="no-gutters">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div style="font-size: 20px; font-weight: 700; color: #334155; margin-bottom: 20px">
                        Status: 
                        {% if reservation.status == '1_pending' %}
                            <span class="badge badge-warning">En attente</span>
                        {% elseif reservation.status == '5_refused' %}
                            <span class="badge badge-danger">Refusée</span>
                        {% elseif reservation.status == '2_modification_pending' %}
                            <span class="badge badge-warning">Modification en attente</span>
                        {% elseif reservation.status == '3_modification_accepted' %}
                            <span class="badge badge-warning">Modification acceptée</span>
                        {% elseif reservation.status == '8_closed' %}
                            <span class="badge badge-success">Payée</span>
                        {% elseif reservation.status == '7_invoice_sent' %}
                            <span class="badge badge-success">Facture envoyée</span>
                        {% elseif reservation.status == '4_accepted' %}
                            <span class="badge badge-success">Acceptée</span>
                        {% else %}
                            <span class="badge badge-secondary">Annulée</span>
                        {% endif %}
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <button class='btn btn-secondary btn-block' data-modal data-modal-url='{{ path('sauvabelin.apmbs.reservation.modify', {id: reservation.id}) }}'>Modifier</button>
                        </div>
                        <div class="col-3">
                            <button class='btn btn-secondary btn-block' data-modal data-modal-url='{{ path('sauvabelin.apmbs.reservation.accept', {id: reservation.id}) }}'>Valider</button>
                        </div>
                        <div class="col-3">
                            <button class='btn btn-secondary btn-block' data-modal data-modal-url='{{ path('sauvabelin.apmbs.reservation.refuse', {id: reservation.id}) }}'>Refuser</button>
                        </div>
                        <div class="col-3">
                            <button class='btn btn-secondary btn-block' data-modal data-modal-url='{{ path('sauvabelin.apmbs.reservation.cancel', {id: reservation.id}) }}'>Annuler</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <button class='btn btn-secondary btn-block' data-modal data-modal-url='{{ path('sauvabelin.apmbs.reservation.send-invoice', {id: reservation.id}) }}'>Envoyer la facture</button>
                        </div>
                        <div class="col-6">
                            <a class='btn btn-secondary btn-block' href='{{ path('sauvabelin.apmbs.reservation.close', {id: reservation.id}) }}'>Marquer comme payée</a>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h3 class="card-title">Informations</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Créé le</label>
                                    <div class="col-lg-8">{{ reservation.createdAt|date(param('format', 'php_datetime')) }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Début</label>
                                    <div class="col-lg-8">{{ reservation.start|date(param('format', 'php_datetime')) }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Fin</label>
                                    <div class="col-lg-8">{{ reservation.end|date(param('format', 'php_datetime')) }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Nom</label>
                                    <div class="col-lg-8">{{ reservation.prenom ~ " " ~ reservation.nom }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">E-mail</label>
                                    <div class="col-lg-8">{{ reservation.email }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Téléphone</label>
                                    <div class="col-lg-8">{{ reservation.phone }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Rue</label>
                                    <div class="col-lg-8">{{ reservation.rue }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">NPA</label>
                                    <div class="col-lg-8">{{ reservation.npa }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Localité</label>
                                    <div class="col-lg-8">{{ reservation.localite }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Unité</label>
                                    <div class="col-lg-8">{{ reservation.unite }}</div>
                                </div>
                                <div class="form-group row" style="padding: 3px 0">
                                    <label class="col-lg-4 control-label" style="padding-top:6px;text-align:left;">Message</label>
                                    <div class="col-lg-8">{{ reservation.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if reservation.status == 'accepted' %}
                    <div class="card card-table mt-3">
                        <div class="card-header">
                            <h3 class="card-title">Intendants assignés</h3>
                        </div>
                        <div class="card-body">
                            
                            <table class="table table-striped table-responsive-md basic-renderer" style="border:1px solid #eee">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if reservation.intendantDebut %}
                                    <tr class="shown">
                                        <th><b>Ouverture</b></th>
                                        <td>{{ reservation.intendantDebut.nom }}</td>
                                        <td>{{ reservation.intendantDebut.email }}</td>
                                        <td>{{ reservation.intendantDebut.phone }}</td>
                                    </tr>
                                {% endif %}
                                {% if reservation.intendantFin %}
                                        <th><b>Fermeture</b></th>
                                        <td>{{ reservation.intendantFin.nom }}</td>
                                        <td>{{ reservation.intendantFin.email }}</td>
                                        <td>{{ reservation.intendantFin.phone }}</td>
                                    </tr>
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card mt-3">
                        <div class="card-header">
                            <h3 class="card-title">Remarques Admin</h3>
                        </div>
                        <div class="card-body">
                            {{ form_widget(reservationForm.comment) }}
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h3 class="card-title">Bloquer les jours de réservation</h3>
                        </div>
                        <div class="card-body">
                            <p>Les jours inclus entre le début et la fin sont bloqués sur le module de réservation. Vous pouvez ici choisir si les jours du début et de fin sont également bloqués ou non, pour pouvoir enchaîner deux réservations.</p>
                            {{ form_row(reservationForm.blockStartDay) }}
                            {{ form_row(reservationForm.blockEndDay) }}
                        </div>
                    </div>
                    {% if conflicts %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Conflits</h3>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger">Cette réservation est en conflit avec d'autres éléments du calendrier Google</div>
                            <ul>
                                {% for conflict in conflicts %}
                                    <li>{{ conflict.summary }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% else %}
                        <div class="alert alert-success">Aucun conflit</div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div id="calendar"></div>
                        </div>
                    </div>
                    <div class="card card-table">
                        <div class="card-header">
                            <h3 class="card-title">Logs</h3>
                        </div>
                        <div class="card-body">
                            {{ render_list('app.apmbs.reservation_logs', 'netbs', { reservation: reservation.id }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set calendarScript %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.querySelector('#calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                initialView: 'timeGridWeek',
                firstDay: 1,
                initialDate: '{{ reservation.start|date('c') }}',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventSources: [
                    {
                        url: "{{ path('sauvabelin.apmbs.full_calendar_cabane_reservations', { id: reservation.cabane.id }) }}",
                        extraParams: {
                            reservationId: {{ reservation.id }}
                        }
                    }
                ],
            });

            calendar.render();
        });
    </script>
    {% endset %}

    {{ registerScript(calendarScript) }}
{% endblock %}