
{{ registerJs('https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js') }}
{{ registerJs(asset('bundles/netbscore/js/ajaxTable.js')) }}

{% set mainCheckboxId           = tableId ~ '_main_cb' %}
{% set checkboxClass            = tableId ~ '_cb' %}
{% set updateCountFunction      = tableId ~ '_update_function' %}
{% set retrieveSelectedFunction = tableId ~ 'retrieve_selected_function' %}
{% set buildMassParamsFunction  = tableId ~ 'build_mass_params_function' %}
{% set updateCountClass         = tableId ~ '_count_class' %}
{% set itemClass                = table.model.managedItemsClass %}

<div class="netbs-renderer" style="border:1px solid #eee">
    <table id="{{ tableId }}" class="table table-hover table-responsive-md table-striped table-fw-widget" style="margin:0 !important;">
        <thead>
        <tr>
            <th data-orderDataType="checkbox" style="width:30px;">
                <div class="custom-control custom-checkbox">
                    <input id="{{ mainCheckboxId }}" class="custom-control-input" type="checkbox">
                    <label class="custom-control-label" for="{{ mainCheckboxId }}"></label>
                </div>
            </th>

            {% for header in table.headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            <tr v-for="item in items">
                <td>
                    <div class="custom-control custom-checkbox">
                        <input :id="'{{ tableId }}' + item.id" class="{{ checkboxClass }} custom-control-input" type="checkbox">
                        <label class="custom-control-label" :for="'{{ tableId }}' + item.id"></label>
                    </div>
                </td>
                <td v-for="(val, kv) in item.values" v-html="val" :key="kv"></td>
            </tr>
        </tbody>
    </table>

    {% if toolbar.items|length > 0 %}
    <div class="netbs-toolbar dropup">

        <div class="row">

            <div class="col-md-6">
                {% for item in toolbar.items('left') %}
                    {{ item.render()|raw }}
                {% endfor %}
            </div>

            <div class="col-md-6">
                {% for item in toolbar.items('right') %}
                    {{ item.render()|raw }}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}

</div>

{% set disableSortColumns = [] %}
{% for column in table.configuration.columns %}
    {% if not column.params.sortable %}
        {% set disableSortColumns = disableSortColumns|merge([loop.index]) %}
    {% endif %}
{% endfor %}

{% set tableJs %}

    <script type="text/javascript">

        var {{ tableId }};

        $(document).ready(function() {

            new Vue({
                el: '#{{ tableId }}',
                mounted() {

                },
                data: function() {
                    return {
                        items: [],
                    }
                },
                methods: {
                    loadItems() {
                        
                    }
                }
            });
        });
    </script>
{% endset %}

{{ registerScript(tableJs) }}
