{% form_theme form '@NetBSCore/form/xeditable.theme.twig' %}

<form class="form-horizontal">
    {{ form_row(form.prenom) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.numeroBS) }}
    {{ form_row(form.numeroAvs) }}
    {{ form_row(form.naissance) }}
    {{ form_row(form.inscription) }}
    {% if app.user.hasRole('ROLE_SG') %}
        {{ form_row(form.desinscription) }}
    {% endif %}
    {{ form_row(form.statut) }}
</form>
