{% form_theme form '@NetBSCore/form/xeditable.theme.twig' %}

<form class="form-horizontal">
    {{ form_row(form.prenom) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.numeroAvs) }}
    {{ form_row(form.totem) }}
    {{ form_row(form.naissance) }}
    {{ form_row(form.inscription) }}
    {{ form_row(form.statut) }}
</form>
