{% form_theme statsForm '@NetBSCore/form/base.theme.twig' %}

<div data-controller="groupe-statistics"
     data-groupe-statistics-data-url-value="{{ path('netbs.fichier.groupe.statistics_effectifs', { id: groupe.id }) }}">

    <div class="d-flex justify-content-between">
        <div class="d-flex stats-control">
            <div class="me-3">{{ form_row(statsForm.begin, { attr: { 'data-groupe-statistics-target': 'begin', 'data-action': 'change->groupe-statistics#refreshData' } }) }}</div>
            <div class="me-3">{{ form_row(statsForm.steps, { attr: { 'data-groupe-statistics-target': 'steps', 'data-action': 'change->groupe-statistics#refreshData' } }) }}</div>
            <div>{{ form_row(statsForm.end, { attr: { 'data-groupe-statistics-target': 'end', 'data-action': 'change->groupe-statistics#refreshData' } }) }}</div>
        </div>
        <div class="d-flex series-control">
            <div class="me-3">{{ form_row(statsForm.total, { attr: { 'data-groupe-statistics-target': 'total', 'data-action': 'change->groupe-statistics#toggleSeries' } }) }}</div>
            <div class="me-3">{{ form_row(statsForm.hommes, { attr: { 'data-groupe-statistics-target': 'hommes', 'data-action': 'change->groupe-statistics#toggleSeries' } }) }}</div>
            <div>{{ form_row(statsForm.femmes, { attr: { 'data-groupe-statistics-target': 'femmes', 'data-action': 'change->groupe-statistics#toggleSeries' } }) }}</div>
        </div>
    </div>

    <canvas data-groupe-statistics-target="canvas"></canvas>

</div>
