{% form_theme statsForm '@NetBSCore/form/base.theme.twig' %}
{{ registerCss('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css') }}

<div class="d-flex justify-content-between">
  <div class="d-flex stats-control">
    <div class="me-3">{{ form_row(statsForm.begin, { attr: { 'data-val': 'begin' } }) }}</div>
    <div class="me-3">{{ form_row(statsForm.steps, { attr: { 'data-val': 'steps' } }) }}</div>
    <div>{{ form_row(statsForm.end, { attr: { 'data-val': 'end' } }) }}</div>
  </div>
  <div class="d-flex series-control">
    <div class="me-3">{{ form_row(statsForm.total, { attr: { 'data-val': 'total' } }) }}</div>
    <div class="me-3">{{ form_row(statsForm.hommes, { attr: { 'data-val': 'hommes' } }) }}</div>
    <div>{{ form_row(statsForm.femmes, { attr: { 'data-val': 'femmes' } }) }}</div>
  </div>
</div>

<canvas id="groupe-effectifs"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>

  var chart = new Chart(document.getElementById('groupe-effectifs'), {
    type: 'line',
    data: {
      labels: [],
      datasets: [
        {
          label: 'Tout',
          data: [],
          backgroundColor: 'rgba(124,33,193,0.11)',
          borderWidth: 3,
          borderColor: '#7c21c1',
          pointRadius: 1,
          pointHoverRadius: 4,
          pointHoverBackgroundColor: '#7c21c1',
        },
        {
          label: 'Hommes',
          data: [],
          backgroundColor: 'rgba(0,123,255,0.11)',
          borderWidth: 3,
          borderColor: '#007bff',
          pointRadius: 1,
          pointHoverRadius: 4,
          pointHoverBackgroundColor: '#007bff',
        },
        {
          label: 'Femmes',
          data: [],
          backgroundColor: 'rgba(255,0,3,0.1)',
          borderWidth: 3,
          borderColor: '#ff0003',
          pointRadius: 1,
          pointHoverRadius: 4,
          pointHoverBackgroundColor: '#ff0003',
        }
      ],
    },
    options: {
      aspectRatio: 3,
      legend: {
        display: false,
      },
      scales: {
        xAxes: [{
          ticks: {
            callback: function(d) {
              var pad0 = function(v) { return v < 10 ? '0' + v : v; };
              return pad0(d.getDate()) + '.' + pad0(d.getMonth() + 1) + '.' + d.getFullYear();
            },
          }
        }],
        yAxes: [{
          ticks: {
            callback: function(value) {
              if (Math.floor(value) === value) {
                return value;
              }
            }
          }
        }],
      },
    }
  });

  var statsState = {
    begin: document.querySelector('.stats-control [data-val="begin"]').value,
    steps: document.querySelector('.stats-control [data-val="steps"]').value,
    end: document.querySelector('.stats-control [data-val="end"]').value,
  };

  var serieState = {
    total: document.querySelector('.series-control [data-val="total"]').checked,
    hommes: document.querySelector('.series-control [data-val="hommes"]').checked,
    femmes: document.querySelector('.series-control [data-val="femmes"]').checked,
  };

  function refresh() {
    var pathPart = 'begin=' + statsState.begin + '&end=' + statsState.end + '&steps=' + statsState.steps;
    fetch('{{ path('netbs.fichier.groupe.statistics_effectifs', { id: groupe.id }) }}?' + pathPart).then(function(r) { return r.json(); }).then(function(data) {

      chart.data.labels.splice(0);
      chart.data.datasets[0].data.splice(0);
      chart.data.datasets[1].data.splice(0);
      chart.data.datasets[2].data.splice(0);

      data.forEach(function(it) {
        chart.data.labels.push(new Date(it.pallier.date));
        chart.data.datasets[0].data.push(it.countAll);
        chart.data.datasets[1].data.push(it.countHomme);
        chart.data.datasets[2].data.push(it.countAll - it.countHomme);
      });

      toggleSeries();
    });
  }

  function toggleSeries() {

    chart.data.datasets[0].hidden = false;
    chart.data.datasets[1].hidden = false;
    chart.data.datasets[2].hidden = false;

    var totalMin = Infinity, totalMax = 0;
    var minHommes = Infinity, maxHommes = 0;
    var minFemmes = Infinity, maxFemmes = 0;

    if (serieState.total) {
      chart.data.datasets[0].data.forEach(function(v) { if (totalMin > v) totalMin = v; if (totalMax < v) totalMax = v; });
    }
    if (serieState.hommes) {
      chart.data.datasets[1].data.forEach(function(v) { if (minHommes > v) minHommes = v; if (maxHommes < v) maxHommes = v; });
    }
    if (serieState.femmes) {
      chart.data.datasets[2].data.forEach(function(v) { if (minFemmes > v) minFemmes = v; if (maxFemmes < v) maxFemmes = v; });
    }

    var max = Math.max(
      serieState.total ? totalMax : 0,
      serieState.hommes ? maxHommes : 0,
      serieState.femmes ? maxFemmes : 0
    );
    var min = Math.min(
      serieState.total ? totalMin : Infinity,
      serieState.hommes ? minHommes : Infinity,
      serieState.femmes ? minFemmes : Infinity
    );

    var diff = Math.ceil((max - min) / 20);
    var minSupp = min - diff;
    chart.options.scales.yAxes[0].ticks.suggestedMin = minSupp > 0 ? minSupp : 0;
    chart.options.scales.yAxes[0].ticks.suggestedMax = max + diff;
    chart.update();

    chart.data.datasets[0].hidden = !serieState.total;
    chart.data.datasets[1].hidden = !serieState.hommes;
    chart.data.datasets[2].hidden = !serieState.femmes;
    chart.update();
  }

  document.querySelectorAll('.stats-control input').forEach(function(el) {
    el.addEventListener('change', function() {
      statsState[this.dataset.val] = this.value;
      refresh();
    });
  });

  document.querySelectorAll('.series-control input').forEach(function(el) {
    el.addEventListener('change', function() {
      serieState[this.dataset.val] = this.checked;
      toggleSeries();
    });
  });

  refresh();
</script>
