{% set _add_id      = increment() %}
{% set _updater_id  = _add_id %}
{% set allowAdd     = true %}
{% set allowDelete  = true %}
{% set itemsForm    = form.vars.prototype %}
{% set items        = form %}
{% set tableClass   = 'table-condensed table-bordered' %}

<div data-controller="mass-updater" data-mass-updater-updater-id-value="{{ _updater_id }}">

    {% include '@NetBSCore/updater/updater.partial.twig' %}

    <table id="mass-prototype-{{ _updater_id }}" style="display:none;">
        <tr>
            {% for protofield in form.vars.prototype.children %}
                <td>
                    {{ form_widget(protofield) }}
                    {{ form_errors(protofield) }}
                </td>
            {% endfor %}
            <td>
                <button class="btn btn-rounded btn-space btn-secondary" type="button" data-delete-element-{{ _updater_id }}><i class="fas fa-times fa-sm"></i></button>
            </td>
        </tr>
    </table>

    <div class="text-end">
        <button class="btn btn-secondary btn-space" type="button" data-action="click->mass-updater#addRow">Ajouter</button>
    </div>

</div>
