{% for key in properties %}
    {% if property == key %}
        <tr class="table-warning">
            <td><b><code>{{ key }}</code> (Avant)</b></td>
            <td>{% if oldValue %}{{ oldValue|date(param('format', 'php_date')) }}{% endif %}</td>
        </tr>
        <tr class="table-warning">
            <td><b><code>{{ key }}</code> (Après)</b></td>
            <td><b>{% if newValue %}{{ newValue|date(param('format', 'php_date')) }}{% endif %}</b></td>
        </tr>
    {% else %}
        <tr>
            <td><code>{{ key }}</code></td>
            <td>{% if attribute(item, key) %}{{ attribute(item, key)|date(param('format', 'php_date')) }}{% endif %}</td>
        </tr>
    {% endif %}
{% endfor %}