<div class="row">
    <div class="col-12">{{ form_row(form.rue) }}</div>
</div>
<div class="row">
    <div class="col-3">{{ form_row(form.npa) }}</div>
    <div class="col-6">{{ form_row(form.localite) }}</div>
    <div class="col-3">{{ form_row(form.pays) }}</div>
</div>

<div class="row">
    <div class="col-3">{{ form_row(form.expediable) }}</div>
    <div class="col-9">{{ form_row(form.remarques) }}</div>
</div>
