{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% block main %}

    <div class="container-fluid">

        {% include '@NetBSCore/includes/header.include.twig' with {
            header: "Mes listes",
            subHeader: "Les listes définies ici sont liées à votre compte et seront disponibles sur toutes vos sessions"
        } %}

        <div class="row">

            {% for list in lists %}
                <div class="col-12 col-md-2">
                    <a class="card bg-primary text-white" href="{{ path('netbs.core.dynamics_list.manage_list', {id: list.id}) }}">
                        <div class="card-header">
                            <h5 class="card-title">{{ list.name }}</h5>
                        </div>
                        <div class="card-body">
                            {{ list.items|length }} élément(s)
                        </div>
                    </a>
                </div>
            {% endfor %}

            <div class="col-12 col-md-2">
                <a class="card bg-success text-white" href="#"
                   data-controller="modal"
                   data-modal-url-value="{{ path('netbs.core.dynamic_list.modal_add') }}"
                   data-modal-reload-on-success-value="true"
                   data-action="click->modal#open">
                    <div class="card-header">
                        <h5 class="card-title">Nouvelle liste</h5>
                    </div>
                    <div class="card-body">
                        Créer une nouvelle liste
                    </div>
                </a>
            </div>

        </div>

        {% include '@NetBSCore/includes/header.include.twig' with {
            header: "Listes partagées",
            subHeader: "Ces listes sont partagées avec vous par leur propriétaire"
        } %}

        <div class="row">

            {% for list in shares %}
                <div class="col-12 col-md-2">
                    <a class="card bg-primary text-white" href="{{ path('netbs.core.dynamics_list.manage_list', {id: list.id}) }}">
                        <div class="card-header">
                            <h5 class="card-title">{{ list.name }}</h5>
                        </div>
                        <div class="card-body">
                            {{ list.items|length }} élément(s)<br/>
                            Partagée par {{ list.owner }}
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}