{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Fusionner des créances en facture{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center pt-3 pb-3">
        <div class="text-center">
            <h4>{{ creances|length }} créances</h4>
            <h5>en entrée</h5>
        </div>
        <div class="ml-4 mr-4"><i class="fas fa-arrow-right"></i></div>
        <div class="text-center">
            <h4>{{ factures|length }} factures</h4>
            <h5>en sortie</h5>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12">{{ form_row(form.compteToUse) }}</div>
    </div>
    <div class="row">
        <div class="col-lg-12">{{ form_row(form.remarques) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}