{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set style %}
    <style>

    </style>
{% endset %}

{% block main %}

    {{ registerStyle(style) }}
    <div class="container">
        {% include '@NetBSCore/includes/header.include.twig' with {
            header: 'Choisissez quoi prendre',
            subHeader: "Quels éléments souhaitez prendre de chaque famille"
        } %}

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Choisissez les familles à fusionner</h3>
            </div>
            <div class="card-body">
                <form  method="post" action="{{ path('sauvabelin.merge_family.choose_what') }}">
                    <div class="chooser">
                        {% for famille in familles %}
                            <div>
                                <input name="famille[]" type="checkbox" value="{{ famille.id }}" />
                                Famille {{ famille.nom }}<br/>
                                {% set adresse = famille.sendableAdresse %}
                                {% if adresse %}
                                    Adresse: {{ adresse.rue }}, {{ adresse.npa }}, {{ adresse.localite }}<br/>
                                {% endif %}
                                Enfants:
                                {% for enfant in famille.membres %}
                                    {{ enfant.prenom }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                <hr />
                            </div>
                        {% endfor %}
                    </div>
                    <br />
                    <hr/>
                    <input type="submit" class="btn btn-primary" value="Fusionner" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}

